<div class="container-lg flex flex-col pv-93 screen-m-pv-58 screen-m-pv-70 row-gap-36">
    <h2 class="m-0 text-gray-900 text-42 font-regular screen-m-display-none screen-m-overflow-x-scroll ">Latest news coming</h2>
    <div class="blog-grid screen-m-pb-20px screen-m-col-gap-10">
        <div class="screen-m-width-65vw">
            <div class="relative mb-20 w-full">
                <div class="absolute blog-date">
                    <span class="day">16</span><span class="month">June</span>
                </div>
                <div class="relative h-full  aspect-ratio-7-5">
                    <img src="../images/blog/blog-list-img-2.jpg" alt="blog image" class="absolute w-full">
                </div>
            </div>
            <div class="mb-12 flex align-center col-gap-8">
                <a class="text-15 family-dm-sans text-gray-400 block no-decoration" href="#">News</a>
                <div class="vertical-separator-light-gray"></div>
                <a class="text-15 family-dm-sans text-gray-400 block no-decoration" href="#">Advice</a>
            </div>
            <h3 class="m-0 text-gray-900 text-24 font-medium w-4-5 mb-30 screen-m-mb-17 screen-m-text-16">Annual tires - 5 reasons you should know before buying</h3>
            <a class="read-more-cta" href="#">
                Read more
                <img src="../icons/view-more.svg" alt="view more icon" height="10">
            </a>
        </div>
        <div class="screen-m-width-65vw">
            <div class="relative mb-20 w-full ">
                <div class="absolute blog-date">
                    <span class="day">16</span><span class="month">June</span>
                </div>
                <div class="relative h-full  aspect-ratio-7-5">
                    <img src="../images/blog/blog-list-img-1.jpg" alt="blog image" class="absolute w-full">
                </div>
            </div>
            <div class="mb-12 flex align-center col-gap-8">
                <a class="text-15 family-dm-sans text-gray-400 block no-decoration" href="#">News</a>
                <div class="vertical-separator-light-gray"></div>
                <a class="text-15 family-dm-sans text-gray-400 block no-decoration" href="#">Advice</a>
            </div>
            <h3 class="m-0 text-gray-900 text-24 font-medium w-4-5 mb-30  screen-m-text-16">Home tires - order summer tires to your home</h3>
            <a class="read-more-cta" href="#">
                Read more
                <img src="../icons/view-more.svg" alt="view more icon" height="10">
            </a>
        </div>
        <div class="screen-m-width-65vw">
            <div class="relative mb-20 w-full">
                <div class="absolute blog-date">
                    <span class="day">16</span><span class="month">June</span>
                </div>
                <div class="relative h-full  aspect-ratio-7-5">
                    <img src="../images/blog/blog-list-img-3.jpg" alt="blog image" class="absolute w-full">
                </div>
            </div>
            <div class="mb-12 flex align-center col-gap-8">
                <a class="text-15 family-dm-sans text-gray-400 block no-decoration" href="#">News</a>
                <div class="vertical-separator-light-gray"></div>
                <a class="text-15 family-dm-sans text-gray-400 block no-decoration" href="#">Advice</a>
            </div>
            <h3 class="m-0 text-gray-900 text-24 font-medium w-4-5 mb-30  screen-m-text-16">Annual tires - 5 reasons you should know before buying</h3>
            <a class="read-more-cta" href="#">
                Read more
                <img src="../icons/view-more.svg" alt="view more icon" height="10">
            </a>
        </div>
        <div style="width: 18px"></div>
    </div>
</div>