<div class="container-lg pt-60 pb-60 screen-m-mh-2-vw">
    <div class="flex align-center justify-between  mb-40 ">
        <h2 class="m-0 text-gray-900 text-42 font-regular screen-m-text-21">Latest news coming</h2>
        <div class="flex align-center col-gap-24">
            <img data-blog-left src="icons/slider-arrow-left.svg" class="pointer">
            <img data-blog-right src="icons/slider-arrow-right.svg" class="pointer">
        </div>
    </div>
    <div class="relative w-full no-overflow">
        <div data-blog-panel class="blog-slider">
            <div data-blog-content>
                <div class="blog-slider-div">
                    <div class="relative mb-20 w-full no-shrink">
                        <div class="absolute blog-date">
                            <span class="day">16</span><span class="month">June</span>
                        </div>
                        <div class="relative h-full  aspect-ratio-7-5">
                            <img src="../images/blog/blog-list-img-2.jpg" alt="blog image" class="absolute w-full">
                        </div>
                    </div>
                    <div class="mb-12 flex align-center col-gap-8">
                        <a class="text-15 family-dm-sans text-gray-400 block no-decoration" href="#">News</a>
                        <div class="vertical-separator-light-gray"></div>
                        <a class="text-15 family-dm-sans text-gray-400 block no-decoration" href="#">Advice</a>
                    </div>
                    <h3 class="m-0 text-gray-900 text-24 font-medium w-4-5 mb-30 screen-m-mb-17 screen-m-text-16">Annual tires - 5 reasons you should know before buying</h3>
                    <a class="read-more-cta" href="#">
                        Read more
                        <img src="../icons/view-more.svg" alt="view more icon" height="10">
                    </a>
                </div>
            </div>
            <div data-blog-content>
                <div class="blog-slider-div">
                    <div class="relative mb-20 w-full no-shrink ">
                        <div class="absolute blog-date">
                            <span class="day">16</span><span class="month">June</span>
                        </div>
                        <div class="relative h-full  aspect-ratio-7-5">
                            <img src="../images/blog/blog-list-img-1.jpg" alt="blog image" class="absolute w-full">
                        </div>
                    </div>
                    <div class="mb-12 flex align-center col-gap-8">
                        <a class="text-15 family-dm-sans text-gray-400 block no-decoration" href="#">News</a>
                        <div class="vertical-separator-light-gray"></div>
                        <a class="text-15 family-dm-sans text-gray-400 block no-decoration" href="#">Advice</a>
                    </div>
                    <h3 class="m-0 text-gray-900 text-24 font-medium w-4-5 mb-30  screen-m-text-16">Home tires - order summer tires to your home</h3>
                    <a class="read-more-cta" href="#">
                        Read more
                        <img src="../icons/view-more.svg" alt="view more icon" height="10">
                    </a>
                </div>
            </div>
            <div data-blog-content>
                <div class="blog-slider-div">
                    <div class="relative mb-20 w-full no-shrink">
                        <div class="absolute blog-date">
                            <span class="day">16</span><span class="month">June</span>
                        </div>
                        <div class="relative h-full  aspect-ratio-7-5">
                            <img src="../images/blog/blog-list-img-3.jpg" alt="blog image" class="absolute w-full">
                        </div>
                    </div>
                    <div class="mb-12 flex align-center col-gap-8">
                        <a class="text-15 family-dm-sans text-gray-400 block no-decoration" href="#">News</a>
                        <div class="vertical-separator-light-gray"></div>
                        <a class="text-15 family-dm-sans text-gray-400 block no-decoration" href="#">Advice</a>
                    </div>
                    <h3 class="m-0 text-gray-900 text-24 font-medium w-4-5 mb-30  screen-m-text-16">Annual tires - 5 reasons you should know before buying</h3>
                    <a class="read-more-cta" href="#">
                        Read more
                        <img src="../icons/view-more.svg" alt="view more icon" height="10">
                    </a>
                </div>
            </div>
            <div data-blog-content>
                <div class="blog-slider-div">
                    <div class="relative mb-20 w-full no-shrink">
                        <div class="absolute blog-date">
                            <span class="day">16</span><span class="month">June</span>
                        </div>
                        <div class="relative h-full  aspect-ratio-7-5">
                            <img src="../images/blog/blog-list-img-2.jpg" alt="blog image" class="absolute w-full">
                        </div>
                    </div>
                    <div class="mb-12 flex align-center col-gap-8">
                        <a class="text-15 family-dm-sans text-gray-400 block no-decoration" href="#">News</a>
                        <div class="vertical-separator-light-gray"></div>
                        <a class="text-15 family-dm-sans text-gray-400 block no-decoration" href="#">Advice</a>
                    </div>
                    <h3 class="m-0 text-gray-900 text-24 font-medium w-4-5 mb-30 screen-m-mb-17 screen-m-text-16">Annual tires - 5 reasons you should know before buying</h3>
                    <a class="read-more-cta" href="#">
                        Read more
                        <img src="../icons/view-more.svg" alt="view more icon" height="10">
                    </a>
                </div>
            </div>
            <div data-blog-content>
                <div class="blog-slider-div">
                    <div class="relative mb-20 w-full no-shrink ">
                        <div class="absolute blog-date">
                            <span class="day">16</span><span class="month">June</span>
                        </div>
                        <div class="relative h-full  aspect-ratio-7-5">
                            <img src="../images/blog/blog-list-img-1.jpg" alt="blog image" class="absolute w-full">
                        </div>
                    </div>
                    <div class="mb-12 flex align-center col-gap-8">
                        <a class="text-15 family-dm-sans text-gray-400 block no-decoration" href="#">News</a>
                        <div class="vertical-separator-light-gray"></div>
                        <a class="text-15 family-dm-sans text-gray-400 block no-decoration" href="#">Advice</a>
                    </div>
                    <h3 class="m-0 text-gray-900 text-24 font-medium w-4-5 mb-30  screen-m-text-16">Home tires - order summer tires to your home</h3>
                    <a class="read-more-cta" href="#">
                        Read more
                        <img src="../icons/view-more.svg" alt="view more icon" height="10">
                    </a>
                </div>
            </div>
            <div data-blog-content>
                <div class="blog-slider-div">
                    <div class="relative mb-20 w-full no-shrink">
                        <div class="absolute blog-date">
                            <span class="day">16</span><span class="month">June</span>
                        </div>
                        <div class="relative h-full  aspect-ratio-7-5">
                            <img src="../images/blog/blog-list-img-3.jpg" alt="blog image" class="absolute w-full">
                        </div>
                    </div>
                    <div class="mb-12 flex align-center col-gap-8">
                        <a class="text-15 family-dm-sans text-gray-400 block no-decoration" href="#">News</a>
                        <div class="vertical-separator-light-gray"></div>
                        <a class="text-15 family-dm-sans text-gray-400 block no-decoration" href="#">Advice</a>
                    </div>
                    <h3 class="m-0 text-gray-900 text-24 font-medium w-4-5 mb-30  screen-m-text-16">Annual tires - 5 reasons you should know before buying</h3>
                    <a class="read-more-cta" href="#">
                        Read more
                        <img src="../icons/view-more.svg" alt="view more icon" height="10">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>