<div class="container-lg pv-64 screen-m-pv-46 screen-m-pb-20px">
    <div class="screen-m-display-none relative bg-gray-900 w-full flex justify-ends align-center radius-16 no-overflow ph-48 h-125px ">
        <div class="yellow-circle-bg"></div>
        <div class="relative flex flex-col row-gap-8">
            <h2 class="m-0 text-28">Do you need help?</h2>
            <p class="m-0 text-14">We will provide detailed information about our services</p>
        </div>
        <a href="" class="relative text-black no-decoration text-20 flex align-center col-gap-24 mr-50">
            Get consultation
            <img src="../icons/arrow-right.svg" alt="arrow rigth icon" width="15">
        </a>
    </div>
    <div class="flex screen-m-flex-col justify-ends mt-47  screen-m-ph-18">
        <div class="flex footer-grid">
            <div>
                <div id="footer-fast-links" class="flex justify-ends align-center">
                    <h3 class="footer-link-header">Fast links</h3>
                    <img src="../icons/footer-arrow.svg" alt="arrow-down" class="display-none screen-m-display-block"
                         style="transform: rotate(0deg)">
                </div>
                <div id="footer-fast-links-div" class="opacity-80 no-overflow transition-all"
                     style="height: 100%; display: block">
                    <a class="footer-link" href="#">Postage and delivery</a>
                    <a class="footer-link" href="#">Payment methods</a>
                    <a class="footer-link" href="#">Shipment tracking</a>
                    <a class="footer-link" href="#">General Terms and Conditions</a>
                    <a class="footer-link" href="#">GDPR</a>
                    <a class="footer-link" href="#">Tire brands</a>
                    <a class="footer-link" href="#">Tire dimensions</a>
                </div>
            </div>
            <div>
                <div id="footer-main-menu" class="flex justify-ends align-center">
                    <h3 class="footer-link-header">Main menu</h3>
                    <img src="../icons/footer-arrow.svg" alt="arrow-down"
                         class="display-none transition-all screen-m-display-block" style="transform: rotate(0deg)">
                </div>
                <div id="footer-main-menu-div" class="opacity-80 no-overflow transition-all"
                     style="height: 100%; display: block">
                    <a class="footer-link" href="#">Offer of the day</a>
                    <a class="footer-link" href="#">Best seller</a>
                    <a class="footer-link" href="#">Tire Change</a>
                    <a class="footer-link" href="#">Tire Storage</a>
                    <a class="footer-link" href="#">Auto Optics</a>
                </div>
            </div>
            <div>
                <div id="footer-my-account" class="flex justify-ends align-center">
                    <h3 class="footer-link-header">My account</h3>
                    <img src="../icons/footer-arrow.svg" alt="arrow-down"
                         class="display-none transition-all screen-m-display-block" style="transform: rotate(0deg)">
                </div>
                <div id="footer-my-account-div" class="opacity-80 no-overflow transition-all"
                     style="height: 100%; display: block">
                    <a class="footer-link" href="#">My Orders</a>
                    <a class="footer-link" href="#">My Whishlist</a>
                    <a class="footer-link" href="#">My Account</a>
                    <a class="footer-link" href="#">Resolving complaints</a>
                    <a class="footer-link" href="#">FAQ</a>
                </div>
            </div>
        </div>
        <div class="flex flex-col row-gap-44 align-end screen-m-flex-align-center">
            <img src="../logo/gumenadom-logo-white.svg" height="32" class="w-4-5 screen-m-mt-36">
            <div class="flex flex-col align-end">
                <div class="footer-separator"></div>
                <div class="footer-info flex flex-col  screen-m-flex-align-center w-full">
                    <a href="#"
                       class="text-white text-right screen-m-flex-text-center no-decoration screen-m-text-16 text-14 ">Amonte
                        doo,</a>
                    <a href="#"
                       class="text-white text-right screen-m-flex-text-center no-decoration screen-m-text-16 text-14 ">SI56012624,</a>
                    <a href="#"
                       class="text-white text-right screen-m-flex-text-center no-decoration screen-m-text-16 text-14 ">Bravničarjeva,</a>
                    <a href="#"
                       class="text-white text-right screen-m-flex-text-center no-decoration screen-m-text-16 text-14 ">111000
                        Ljubljana, SI,</a>
                    <a href="#"
                       class="text-white text-right screen-m-flex-text-center no-decoration screen-m-text-16 text-14 ">narocila@gumenadom.si,</a>
                </div>
            </div>
            <div class="flex flex-col align-end screen-m-display-none">
                <div class="footer-separator"></div>
                <div class="footer-info flex flex-col  screen-m-flex-align-center w-full">
                    <a href="#" class="text-white text-right screen-m-flex-text-center no-decoration text-14 ">PON-PET:
                        8.00–19.00</a>
                    <a href="#" class="text-white text-right screen-m-flex-text-center no-decoration text-14 ">SOB:
                        8.00–15.00</a>
                </div>
            </div>
        </div>

    </div>

    <div class="mt-96 flex col-gap-48  screen-m-display-none">
        <div class="w-400px">
            <div class="social-horizontal-separator"></div>
            <a href="" class="text-white text-14 no-decoration flex justify-ends">
                Instagram
                <img src="../logo/instagram.svg" width="16">
            </a>
        </div>

        <div class="w-400px">
            <div class="social-horizontal-separator"></div>
            <a href="" class="text-white text-14 no-decoration flex justify-ends">
                Whatsapp
                <img src="../logo/whatsapp.svg" width="16">
            </a>
        </div>
    </div>
    <div class="mt-47 flex justify-ends align-center  screen-m-display-none">
        <span>© 2023 — GumeNaDom.si</span>
        <a href="#navigation" class="scroll-to-top">
            <img src="../icons/arrow-up.svg" height="12">
        </a>
    </div>
</div>


