<div class="container-lg pv-64 screen-m-pv-46 screen-m-pb-20px">
    <div class="screen-m-display-none relative bg-gray-900 w-full flex justify-between align-center radius-16 no-overflow ph-48 h-125px ">
        <div class="yellow-circle-bg"></div>
        <div class="relative flex flex-col row-gap-8">
            <h2 class="m-0 text-28 font-medium">Do you need help?</h2>
            <p class="m-0 text-14">We will provide detailed information about our services</p>
        </div>
        <a href="" class="relative text-black no-decoration text-20 flex align-center col-gap-24 mr-50 font-medium">
            Get consultation
            <img src="../icons/arrow-right.svg" alt="arrow rigth icon" width="15">
        </a>
    </div>
    <div class="flex screen-m-flex-col justify-between mt-47  screen-m-ph-18">
        <div class="flex footer-grid">
            <div>
                <div id="footer-fast-links" class="flex justify-between align-center">
                    <h3 class="footer-link-header">Fast links</h3>
                    <img src="../icons/footer-arrow.svg" alt="arrow-down" class="display-none screen-m-display-block"
                         style="transform: rotate(0deg)">
                </div>
                <div id="footer-fast-links-div" class="no-overflow transition-all"
                     style="height: 100%; display: block">
                    <a class="footer-link" href="/">Postage and delivery</a>
                    <a class="footer-link" href="/404">Payment methods</a>
                    <a class="footer-link" href="/404">Shipment tracking</a>
                    <a class="footer-link" href="/404">General Terms and Conditions</a>
                    <a class="footer-link" href="/404">GDPR</a>
                    <a class="footer-link" href="/404">Tire brands</a>
                    <a class="footer-link" href="/404">Tire dimensions</a>
                </div>
            </div>
            <div>
                <div id="footer-main-menu" class="flex justify-between align-center">
                    <h3 class="footer-link-header">Main menu</h3>
                    <img src="../icons/footer-arrow.svg" alt="arrow-down"
                         class="display-none transition-all screen-m-display-block" style="transform: rotate(0deg)">
                </div>
                <div id="footer-main-menu-div" class="no-overflow transition-all"
                     style="height: 100%; display: block">
                    <a class="footer-link" href="/404">Offer of the day</a>
                    <a class="footer-link" href="/404">Best seller</a>
                    <a class="footer-link" href="/404">Tire Change</a>
                    <a class="footer-link" href="/404">Tire Storage</a>
                    <a class="footer-link" href="/404">Auto Optics</a>
                </div>
            </div>
            <div>
                <div id="footer-my-account" class="flex justify-between align-center">
                    <h3 class="footer-link-header">My account</h3>
                    <img src="../icons/footer-arrow.svg" alt="arrow-down"
                         class="display-none transition-all screen-m-display-block" style="transform: rotate(0deg)">
                </div>
                <div id="footer-my-account-div" class="no-overflow transition-all"
                     style="height: 100%; display: block">
                    <a class="footer-link" href="/404">My Orders</a>
                    <a class="footer-link" href="/404">My Whishlist</a>
                    <a class="footer-link" href="/404">My Account</a>
                    <a class="footer-link" href="/404">Resolving complaints</a>
                    <a class="footer-link" href="/404">FAQ</a>
                </div>
            </div>
        </div>
        <div class="flex flex-col row-gap-44 align-end screen-m-flex-align-center">
            <img src="../logo/gumenadom-logo-white.svg" height="32" class="w-4-5 screen-m-mt-36">
            <div class="flex flex-col align-end">
                <div class="footer-separator"></div>
                <div class="footer-info flex flex-col  screen-m-flex-align-center w-full">
                    <a href="/404"
                       class="text-white text-right screen-m-flex-text-center no-decoration text-16 l-height-1-4">Amonte
                        doo,<br>SI56012624,<br>Bravničarjeva,<br>111000 Ljubljana, SI,</a>
                    <a href="mailto:narocila@gumenadom.si"
                       class="text-white text-right screen-m-flex-text-center no-decoration text-16 l-height-1-4">narocila@gumenadom.si</a>
                </div>
            </div>
            <div class="flex flex-col align-end screen-m-display-none">
                <div class="footer-separator"></div>
                <div class="footer-info flex flex-col  screen-m-flex-align-center w-full">
                    <a href="/404" class="text-white text-right screen-m-flex-text-center no-decoration text-16 ">PON-PET:
                        8.00–19.00</br>SOB: 8.00–15.00</a>
                </div>
            </div>
        </div>

    </div>

    <div class="mt-96 flex col-gap-48  screen-m-display-none">
        <div class="w-400px">
            <div class="social-horizontal-separator"></div>
            <a href="" class="text-white text-14 no-decoration flex justify-between">
                Instagram
                <img src="../logo/instagram.svg" width="16">
            </a>
        </div>

        <div class="w-400px">
            <div class="social-horizontal-separator"></div>
            <a href="" class="text-white text-14 no-decoration flex justify-between">
                Whatsapp
                <img src="../logo/whatsapp.svg" width="16">
            </a>
        </div>
    </div>
    <div class="mt-47 flex justify-between screen-m-display-none align-end">
        <span>© 2023 — GumeNaDom.si</span>
        <a href="#navigation" class="scroll-to-top">
            <img src="../icons/arrow-up.svg" height="12">
        </a>
    </div>
</div>


