<div class="absolute screen-m-position-static bg-black w-full flex flex-col relative justify-center align-center text-white">
    <div id="top-bar" class="screen-m-display-none container-xl flex relative justify-between align-center">
        <div class="flex col-gap-18 align-center">
            <div class="flex col-gap-10">
                <img src="../icons/headphones.svg" alt="headphones icon" class="h-18px">
                <span class="font-bold text-18">031 813 813</span>
            </div>
            <div class="vertical-separator"></div>
            <div class="flex col-gap-10">
                <img src="../icons/mail.svg" alt="mail icon" class="h-18px">
                <span class="font-medium text-15">inf@gumenadom.si</span>
            </div>
        </div>
        <div class="w-full flex absolute justify-center font-semi-bold letter-spacing-1-5 text-14">
            FREE SHIPPING FOR ORDER ABOVE 500€. SHOP NOW !
        </div>
        <div class="flex col-gap-18 align-center">
            <div class="flex col-gap-10">
                <img src="../icons/user-check.svg" alt="user check icon" class="h-18px">
                <span class="font-medium text-15">Track Your Order</span>
            </div>
            <div class="vertical-separator"></div>
            <div class="flex col-gap-10">
                <img src="../icons/package.svg" alt="package icon" class="h-18px">
                <span class="font-medium text-15">Registracija ili Prijava</span>
            </div>
        </div>
    </div>
    <div id="menu" class="bg-gray-800 w-full flex relative justify-center align-center">
        <div class="container-xl flex relative justify-between align-center">
            <div class="flex align-center col-gap-24">
                <a href="/"><img id="logo" src="../logo/gumenadom-logo-white.svg" alt="gumenadom logo" class="h-32px"></a>
                <div class="screen-m-display-none flex col-gap-32 align-center">
                    <a class="menu-links" href="/">Home</a>
                    <a class="menu-links" href="/search.html">Izaberi Gume</a>
                    <a class="menu-links" href="#">Dodatne Stortive <img src="../icons/arrow-down.svg" alt="arrow down icon"> </a>
                    <a class="menu-links" href="#">Pomoc Uporabnikov <img src="../icons/arrow-down.svg" alt="arrow down icon"> </a>
                </div>
            </div>
            <div class="screen-m-display-none flex align-center col-gap-24">
                <div class="flex col-gap-24 align-center">
                    <div class="flex col-gap-10">
                        <a href="/compare.html" class="icon-button">
                            <img src="../icons/compare.svg" alt="compare icon" class="h-21px">
                        </a>
                        <a href="#" class="icon-button">
                            <img src="../icons/heart.svg" alt="heart icon" class="h-21px">
                        </a>
                        <a href="#" class="icon-button">
                            <img src="../icons/shopping-bag.svg" alt="shopping bag icon" class="h-21px">
                        </a>
                    </div>
                    <div>
                        <form method="get" action="/search.html" class="form-search">
                            <input name="search" type="search" placeholder="Unesi zahtjev..." />
                            <button type="submit">Traži</button>
                        </form>
                    </div>
                    <a href="#" class="icon-button">
                        <img src="../icons/menu.svg" alt="menu icon" class="h-24px">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>