<div class="w-42-5perc screen-m-w-full" >
    <div class="max-w-627 screen-m-w-full screen-m-ph-26 screen-m-pv-58 screen-m-max-w-92vw">
        <h2 class="screen-m-text-center m-0 font-bold text-36 screen-m-text-32 screen-m-mb-24">Prijava na e-novice</h2>
        <p class="newsletter-sh m-0 font-medium text-21 screen-m-text-14 l-height-1-3">Bodite na tekočem z zadnjimi novicami iz sveta avtomobilizma, koristnimi nasveti za voznike in Avtostopovimi akcijami samo za naročnike.</p>
        <form class="form-newsletter flex col-gap-12 screen-m-col-gap-6" method="" action="">
            <input type="email" name="email" placeholder="You email address">
            <button type="submit">
                Subscribe
                <img src="icons/subscribe-icon.svg" alt="subscribe icon" width="24">
            </button>
        </form>
        <p class="newsletter-p text-14 font-medium">Your Inbox, Your Rules: Subscribe and Enjoy Spam-Free gumenadom.si Resources</p>
    </div>
</div>
<img src="images/newsletter_image.png" alt="newsletter image" class="w-1-2 screen-m-display-none">